@import url('https://fonts.googleapis.com/css?family=Montserrat');

.button-container {
  padding-top: 6px;
  padding-bottom: 6px;
}

button {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 32px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 6px;
  line-height: 20px;  
  cursor: pointer;
}

button:hover {
  background-color: #2b2a2a;
}

button:disabled {
  background-color: #969696;
}

.modal-header2 {
  color: black;
  margin-top: 0;
  border-bottom: 2px solid #969696;
  padding-bottom: 8px;
}

span {
  color: black;
}