@import url('https://fonts.googleapis.com/css?family=Montserrat');

button {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 20px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 6px;
  line-height: 20px;  
  cursor: pointer;
}

button:hover {
  background-color: #2b2a2a;
}

button:disabled {
  background-color: #969696;
}

h2, h3 {
  color: black;
  margin-top: 0;
  border-bottom: 2px solid #969696;
  padding-bottom: 8px;
}

h1, span, label {
  color: black;
}

label {
  font-weight: 700;
  font-size: 14px;
}

input {
  font-family: 'Montserrat';
  border: solid;
  border-color: black;
  border-width: 2px;
  font-size: 16px;
  width: 300px;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-left: 15px;
  height: 35px;
  box-sizing: border-box;
}

input:focus{
  outline:none;
  border-color: rgb(24, 119, 242);
}